@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* begin css  */


body {
    background-color: rgb(9, 255, 0);
    animation-name: body-amimation;
    animation-duration: 7s;
    font-size: 28px;
    font-family: 'Montserrat';
}

@keyframes body-amimation {
    from {
        background-color: rgb(176, 226, 211);
    }

    to {
        background-color: rgb(9, 255, 0);
    }
}

#login-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#signup-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#sign-up input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#sign-up {
    display: none;
}

#show-signup {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 50%;
    top: 25rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}

#login {
    display: none;

}

#show-login {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 43%;
    top: 25rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
}

#main-page {
    display: none;
    background-color: black;
}

#header {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cyclebiking-logo {
    align-self: center;
    max-width: 200px;
    margin: 15px;
    border-radius: 100px;
}

.cyclebiking-logo:hover {
    cursor: pointer;
    box-shadow: 0 0px 15px 0 #4CAF50;
}

#home-nav {
    margin: 20px;
}

#home-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 200px;
    padding: 15px 0px;
    border-radius: 20px;
}

#home-nav a:hover {
    background-color: #4CAF50;
    box-shadow: 0 0px 15px 0 #4CAF50;
    color: black;
}

.logout-button {
    background-color: #4CAF50;
    border: none;
    padding: 20px 20px;
    color: white;
    width: 100px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.logout-button:hover {
    box-shadow: 0 0px 15px 0 #4CAF50;
    color: black;
}

.back-nav-btn {
    background-color: black;
    color: white;
    width: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
    align-self: flex-end;
    border-radius: 20px;
    box-shadow: 0 0px 5px 0 #4CAF50;
}

.back-nav-btn:hover {
    box-shadow: 0 0px 15px 0 #4CAF50;
    color: rgb(8, 253, 0);
}

.card {
    background-color: rgb(9, 255, 0);
    padding: 200px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    /* box-shadow: 10px 10px 5px grey; */
}

#checklist {
    display: flex;
    color: #4CAF50;
    flex-direction: column;
    padding: 50px;
}

#checklist h1 {
    text-align: center;
}

#items li {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    font-size: 18px;
    margin: 20px;
    width: 50%;
    border-radius: 20px;
    color: #4CAF50;
}

#items li:hover {
    box-shadow: 0 0px 5px 0 #4CAF50;
}

.input-item {
    width: 70%;
}

#create-item {
    align-self: center;
    width: 40%;
}

.delete-button {
    cursor: pointer;
    background-color: #f44336;
    color: black;
    border: none;
    border-radius: 20px;
    float: right;
}

.delete-button:hover {
    background-color: black;
    color: #f44336;
}

.addBtn {
    border: none;
    width: 20%;
    background: #4CAF50;
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.addBtn:hover {
    color: white;
    box-shadow: 0 0px 15px 0 #4CAF50;
}

#map-section h1 {
    text-align: center;
}

#map-section {
    display: flex;
    flex-direction: column;
    color: #4CAF50;
    background-color: #000;
}

.input-ride {
    width: 40%;
}

#map {
    width: 600px;
    height: 400px;
    margin: 40px;
}

#weather h1 {
    text-align: center;
}

#weather {
    display: flex;
    color: #4CAF50;
    flex-direction: column;
    padding: 200px;
}

#post-container li {
    border: inset;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 20px;
    transition: 0.2s;
}

#post-container li:hover {
    background: #ddd;
}

.edit-post-btn {
    background-color: #333;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.edit-post-btn:hover {
    background-color: #000;
    color: greenyellow;
}

edit-post-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}