html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* begin css  */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-image: linear-gradient(to bottom right, rgb(225, 240, 140), rgb(9, 255, 0));
    font-size: 28px;
    font-family: 'Montserrat';
}

/* #main-page {
    display: none;
} */

#login-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#signup-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* #logout-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
} */

#sign-up input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.header {
    background-color: rgb(9, 255, 0);
    padding: 327px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

#home-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

#items li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 20%;
}

#items li:hover {
    background: #ddd;
}

.delete-button {
    cursor: pointer;
    background-color: blanchedalmond;
    border: none;
    margin: 4px 2px;
}

.delete-button:hover {
    background-color: #f44336;
    color: white;
}

.addBtn {
    /* padding: 10px; */
    border: none;
    width: 25%;
    background: #333;
    color: rgb(255, 255, 255);
    /* float: left; */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20%;
}

.addBtn:hover {
    background-color: rgb(101, 163, 110);
    color: #000;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.card {
    /* background-color: white; */
    padding: 200px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px grey;
}

#map-div {
    text-align: center;
    position: relative;

}

#map {
    width: 600px;
    height: 400px;
}

#post-container li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 20%;
}

#post-container li:hover {
    background: #ddd;
}