@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin css  */


body {
    background-color: rgb(9, 255, 0);
    animation-name: body-amimation;
    animation-duration: 7s;
    font-size: 28px;
    font-family: 'Montserrat';
}

@keyframes body-amimation {
    from {
        background-color: rgb(176, 226, 211);
    }

    to {
        background-color: rgb(9, 255, 0);
    }
}

#login-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#signup-button {
    display: block;
    width: auto;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#sign-up input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#sign-up {
    display: none;
}

#show-signup {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 50%;
    top: 25rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}

#login {
    display: none;

}

#show-login {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 43%;
    top: 25rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
}

#main-page {
    display: none;
    background-color: black;
}

#header {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    color: #4CAF50;
    align-self: center;
    align-items: center;
    
}
.title h1{
    font-size: 50px;
}
#home-nav{
    margin: 20px;
}
#home-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 200px;
    padding: 15px 0px;
    border-radius: 20px;
}

#home-nav a:hover{
    background-color: #4CAF50;
    box-shadow: 0 0px 15px 0 #4CAF50;
    color: black;
}

.logout-button {
    background-color: #4CAF50;
    border: none;
    padding: 20px 20px;
    color: white;
    width: 100px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.logout-button:hover {
    box-shadow: 0 0px 15px 0 #4CAF50;
    color: black;
}

.back-nav-btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 90%;
    cursor: pointer;
}

.back-nav-btn:hover {
    background-color: #000;
    color: rgb(8, 253, 0);
}

#items li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 20%;
}

#items li:hover {
    background: #ddd;
}

.delete-button {
    cursor: pointer;
    background-color: blanchedalmond;
    border: none;
    margin: 4px 2px;
}

.delete-button:hover {
    background-color: #f44336;
    color: white;
}

.addBtn {
    /* padding: 10px; */
    border: none;
    width: 25%;
    background: #333;
    color: rgb(255, 255, 255);
    /* float: left; */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20%;
}

.addBtn:hover {
    background-color: rgb(101, 163, 110);
    color: #000;
}


.active {
    background-color: #4CAF50;
}

.card {
    background-image: linear-gradient(to bottom right, rgb(225, 240, 140), rgb(9, 255, 0));
    padding: 200px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    /* box-shadow: 10px 10px 5px grey; */
}

#map-div {
    text-align: center;
    position: relative;

}

#map {
    width: 600px;
    height: 400px;
    margin-left: 30%;
}

#post-container li {
    border: inset;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 20px;
    transition: 0.2s;
}

#post-container li:hover {
    background: #ddd;
}

.edit-post-btn {
    background-color: #333;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.edit-post-btn:hover {
    background-color: #000;
    color: greenyellow;
}

edit-post-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}